body {
    display: column;
    align-content: center;
    background-color: black;
    color: white;
    font-family: fantasy;
    margin: 0;
}

.header {
    display: flex;
    background-color: pink;
    align-items: center;
    justify-content: space-between;
    color: black;
}

.hq {
    display: flex;
    align-items: flex-end;
    font-size: 40px;
    gap: 10px;
    margin-left: 10px;
}

@font-face {
    font-family: primetime;
    src: url(font/primetime/Primetime.ttf) format('truetype');
}

#bp {
    font-family: 'primetime', sans-serif;
}

.header_links{
    display: flex;
    list-style-type: none;
    gap: 20px;  
    margin-right: 10px;
}

.main {
    display: flex;
    justify-content: space-between;
    height: 600px;
    margin: 0px 60px;
}
button {
    display: flex;
}

.main img {
    margin: 0;
}

.main_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 40px;
}
.members, .profiles {
    background-color: pink;
}

.members {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    color: black;
    text-decoration: underline 5px;
    font-family: 'primetime', sans-serif;
}

.profiles {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    font-family: 'snell roundhand', cursive;
}

.profiles img {
    max-width: 200px;
    height: auto;
    border: 10px double white;
}

.solo {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.quote {
    display: flex;
    flex-direction: column;
    margin: 60px;
    padding: 20px;
    justify-content: center;
    font-size: xx-large;
}

.thing {
    display: flex;
    justify-content: center;
}

.quoter {
    display: flex;
    justify-content: flex-end;
}

.signup {
    display: flex;
    flex-direction: column;
    background-color: pink;
}

.signuptxt {
    display: flex;
}

.cta, .action {
    display: flex;
    padding: 0px, 80px;
    font-size: xx-large;    
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 10px;
    color: black;
    margin-left: 60px;
}

.main button {
    display: flex;
    margin-right: 10px;
    font-family: 'primetime', sans-serif;
    background-color: pink;
    color: black;
    font-size: 20px;
    border: 10px;
    padding: 5px 10px;
    border-style: double;
}

.signup button {
    display: flex;
    margin-right: 10px;
    font-family: 'primetime', sans-serif;
    background-color: black;
    color: pink;
    font-size: 20px;
    border: 10px;
    padding: 5px 10px;
    border-style: double;
    margin-right: 60px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 20px
}